@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">My Portofolio - Isak</h1>
</div> *@

<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container">
        <h1 class="display-4 fw-bold">My Portofolio - Isak</h1>
        <h3>Engageret Datamatiker</h3>
    </div>
</div>
<div>
    <img src="~/images/1964866_10152101335419480_640771352_n.jpg" width="100%" />
</div><br />
<div class="row" >
  <div  class="col-sm-6 bg-dark text-white">
      <h3>Lidt om mig</h3>
      <p>Hej! Mit navn er Isak</p><br />
      <p>Jeg er en ny og engageret datamatiker som er godt i gang med min uddannelse</p>
      <p>Er nu 23 år gammel og har været i arbejde lige siden jeg var 16 år</p>
      <p>Har inden start på datamatiker uddannelsen taget en HTX som blev gennemført på Slotshaven Gymnasium</p>
      <p>I min fritid, kan jeg godt lide bræt- og kortspil</p>
      <p>Derudover bruger jeg også tid på computeren, både med at programere og spille computerspil</p>
    </div>
    <div class="col-sm-6 bg-dark text-white">
        <h3>Mine erfaring</h3>
        <p>Jeg har erfaring med inden for virksomheden Bornfiber</p>
        <p>Har primært haft med kundeservice at gøre, men har også haft indflydelse på design</p>
        <p>Vi i kundeservice spørger nemlig tit om nye funktionelle knapper eller funktioner som kan improve vores arbejdsdag</p>
        <p>Inden Bornfiber supporterede jeg på Apple produkter, hvor jeg hjalp både med Iphones, ipads, apple tv, mac og meget mere</p>
        <p>Ellers har jeg været lukke ansvarlig i en dagligbrugs, ungarbejder i samme dagligbrugs og arbejdet på et pizzaria</p>
        <p>Hvis du vil høre mere om mig, må du meget gerne trykek på contact, så kan man skrivev direkte til mig</p>
        <p>Hvis du er interesseret i mine projekter, så kan du finde dem i menuen</p>
    </div>
</div>


