@page
@model Camel_Case.Pages.Side2Model
@{
    ViewData["Title"] = "Mine Projekter";
}

<div class="jumbotron jumbotron-fluid bg-dark text-white rounded-2">
    <div class="container">
        <h1 class="display-4 bold">Mine Projekter</h1>
        <p>Her kommer alle mine projekter til at ligge, så man kan se lidt havd jeg har lavet</p>
    </div>
</div>